body {
    height: 100vh;
    background-color: rgb(90, 245, 245);
    background-image: url("./image/WZ1.jpg");
    background-repeat: no-repeat;
    background-position : bottom;
    background-size: cover;
    }

footer {
    background-color: #222;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

footer * {
    color: #f8f8f8;
}

.admin-view #admin-area {
    min-height: 100vh;
}

.admin-view .admin-links {
    background-color: #03d755;
}

.admin-view .admin-links * {
    background-color: #545e6c;
}

.admin-view .admin-links li {
    color: #fff;
    border-color: #fff;
}

.admin-view .admin-links .list-group-item {
    border-bottom: 1px solid #fff;
}


.admin-view .admin-links li a {
    display: block;
    color: #fff;
    border-color: #fff;
    text-decoration: #fff;
    transition: opacity .5s;
}

.admin-view .admin-links li a:hover {
    opacity: .7;
}


 @media only screen and (max-width: 768px) {
h1 {
    margin: 0;
    font-size: 2.6rem;
    font-style: var(--height);

}
h1:hover {
    margin: 0;
    transition: .7s;
}
form>div> button:hover {
    transition: opacity .7s;
    cursor: pointer;
}
    }

form>div {

    /*border: 3px solid rgb(140, 234, 123);*/
    border: 2.3px solid rgb(104, 234, 184);
    font-family:sans-serif;
    border-radius: 20px;
    padding: 1rem;
    display: none;
    width: 0;
    opacity: .8;
    box-sizing: border-box;


}

.info-log   {
    display: block;
    width: 100%;
    opacity: .8;
    position: relative;
    background-color: rgb(230, 240, 237);
}

.info-log  :hover {
    background-color: rgb(241, 244, 235);
     opacity: .7;
    box-sizing: border-box;
}